body {
    /* Get rid of the default margin separating components from the very top of the window. */
    margin: 0;
}

.h-center{
    /* i.e. horizontally center this component */
    margin: auto;
}


.v-center{
    /* i.e. vertially center this component 
       Might NEED TO SET min-height to avoid top-overflow in short displays */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pd-btn{
    /* Extract from Bootstrap */
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.pd-btn:focus {
  outline: none     !important;
}

.rounded-border{
    border-radius: 4px;
}

/* Themes */

.border-ThemeDefault {
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 20px; 
}
