body {
    /* Get rid of the default margin separating components from the very top of the window. */
    margin: 0;
}

.h-center{
    /* i.e. horizontally center this component */
    margin: auto;
}

.pd-btn{
    /* Extract from Bootstrap */
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

    text-decoration: none;
}
.pd-btn:active, .pd-btn.active {
    /* ::L_NOTE::       .pd-btn.active  =  when clicked by mouse */
    outline: none;
}
.pd-btn:hover, .pd-btn:focus, .pd-btn.focus, .pd-btn:active, .pd-btn.active {
    /* ::L_NOTE::       .pd-btn:focus  =  particularly when select by keyboard*/
    text-decoration: none   !important;
}

.rounded-border{
    border-radius: 4px;
}
