@import (reference) "header";


#learner-profile-section {
   padding-left: @nav-horiz-padding;
   padding-right: @nav-horiz-padding;

   max-width: 80rem;
   min-width: 40rem;
}
#learner-profile-form {
   width: 90%;
}
