@import (reference) "common";


/* Variable declaration */
@min-nav-width: 80rem;


nav {
   // Basically, this technique transfers the responsibility of displaying the scroll-bar (when "vw" < "width") onto the parent
   min-width: @min-nav-width;

   padding-top: 0.5rem;
   padding-bottom: 0.7rem;
   /* " padding-right/left " is required to stop .navbar-content from touching the edge of the window (on small screens) */
   padding-right: 1rem;
   padding-left: 1rem;
   margin-bottom: 1rem;

   font-size: 2.4rem;
   /* i.e. Automatically adjust header height */
   overflow: auto;
}

#navbar-content {
   max-width: @min-nav-width;

   // allow additional content to render outside of its conventional content area (innermost box of box model)
   overflow: visible;
}

#nav-head {
   overflow-x: visible;

   * {
   /* It seems bootstrap's "border-sizing: border-box" might have messed up "display: inline-block"'s width calculation...
    * But "display:inline" seems to be unaffected. */
   display: inline;
   vertical-align: middle;
   }
}


.navbar-title {
   font-size: 4rem;
   margin-right: 5%;
}

.navbar-menu-items {
   margin-right: 4%;
}



/* Unlogged account head */

#login-btn {
   .pd-btn;

   border: 1px solid #005bef;
   padding: 8px 25px;
   font-size: 16px;

   margin-top: 9px      !important;

   margin-right: 1.5rem;

}
/********************* TODO profile pic ******************/

.arrow-down {
   width: 0px;
   height: 0px;
   /* Width of triangle */
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   /* Height of triangle */
   border-top: 8px solid black;

   /********************* TODO to dynanic ******************/
   margin-top: 22px;
   float: inherit;
}
