/* Variable declaration */
:root {
    /* SAME-relation - header.css' --min-nav-width & login.css' #login-content max-width */
    --min-nav-width: 80rem;
}

nav {
    min-width: var(--min-nav-width);
    
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    /* " padding-right/left " is required to stop .navbar-content from touching the edge of the window (on small screens) */
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;

    font-size: 2.4rem;
    /* i.e. Automatically adjust header height */
    overflow: auto;
}

#navbar-content{
    max-width: var(--min-nav-width);
}

.navbar-title{
    font-size: 40px;
    margin-right: 5%;
}

.navbar-menu-items{
    /* Padding is applied to each item individually so that
    the same padding remains applied if they stack on top of each other (on small screens) */
    padding-top: 0.5em;
    margin-right: 4%;
}

.align-left {
    float: left;
}
.align-right {
    float: right;
}


#login-head-content{
    display: inline-block;
}

/* Unlogged account head */

#login-btn {
    border: 1px solid #005bef;
    padding: 8px 25px;
    font-size: 16px;
    
    margin-right: 1.5rem;
}

#register-btn {
    border: 2px solid #0099cc;
    padding: 5px 18px;
    font-size: 14px;
    
    background-color: #FFFFFF;
    color: #0099cc;
}

/* Extract from bootstrap-button-pack [BootstrapBay] */
#register-btn:hover, #register-btn:focus, #register-btn:active, #register-btn.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
#register-btn:active, #register-btn.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}


#login-btn, #register-btn {
    text-decoration: none;

    margin-top: 9px;
}
/********************* TODO profile pic ******************/

.arrow-down {
    width: 0; 
    height: 0; 
    /* Width of triangle */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    /* Height of triangle */
    border-top: 8px solid black;
    
    /********************* TODO to dynanic ******************/
    margin-top: 22px;
    float: inherit;
}

/* Themes */

.nav-ThemeDefault{
    background-color: #9CB084;
}
