@import (reference) "header";
@import (reference) "common";



#unlogged-page-section {
   .standard-content;


}

#learner-dashboard-section {
   .standard-content;


}

#instructor-dashboard-section {
   .standard-content;


}
#instructor-main {
   .standard-content;

   width: 60%;
}

@instructor-course-width: 60%;

#instructor-courses {
   .standard-main;

   width: @instructor-course-width;
}
#instructor-students {
   .standard-sidebar;

   // 1% is rounding fail-safe
   width: calc(100% - @instructor-course-width - @standard-main-margin-right - 1%);
}
