@import (reference) "header";
@import (reference) "1common";



#unlogged-page-section {
   .standard-content;


}

#learner-dashboard-section {
   .standard-content;


}

#instructor-dashboard-section {
   .standard-content;


}

@instructor-course-width: 60%;

#instructor-courses {
   .standard-main;

   width: @instructor-course-width;
}
#instructor-students {
   .standard-sidebar;

   // 1% is rounding fail-safe
   width: calc(100% - @instructor-course-width - @standard-main-margin-right - 1%);
}

.course-block {
   margin-bottom: 2rem;
   height: 16rem;

   display: block;
   overflow-y: hidden;
   // prevents long sentences from dropping a line when overflowing
   white-space: nowrap;
}
