/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Mar-2017, 21:54:45
    Author     : Benny_000
*/
:root {
    --login-form-width: 60%;
    --login-form-rmargin: 4%;
    
    --login-form-comp-width: 80%;
}


#login-content{
    height: 80vh;
    min-height: 40rem;
    width: 70vw;
    /* SAME-relation - header.css' --min-nav-width & login.css' #login-content max-width */
    min-width: 80rem;
    
    padding-left: 1rem;
    padding-right: 1rem;
}

.login-login{
    width: var(--login-form-width);
    margin-right: var(--login-form-rmargin);
}

.login-register{
    width: calc( 100% - var(--login-form-width) - var(--login-form-rmargin) );
}

.login-login, .login-register{
    display: inline-block;
    text-align: center;
}


/* Login form */

loginTitle{
    font-size: 3rem;
    margin-bottom: 2.4rem;
}

loginAnnon{
    /* Artifical padding */
    line-height: 200%;
    
    text-align: left;
    font-size: 2rem;
    
    width: var(--login-form-comp-width);
}

.loginField{
    margin-top: 0.3rem;
    margin-bottom: 0.9rem;
    
    width: var(--login-form-comp-width);
}

loginTitle, loginAnnon, .loginField{
    display: block;
}


/* Themes */

.login-ThemeDefault{
    background-color: #ffffff;
}

.register-ThemeDefault{
    background-color: #f4f2f2;
}
