@import (reference) "header";
@import (reference) "1contents";


#user-profile-content {
   .standard-content;

   padding-left: @nav-horiz-padding;
   padding-right: @nav-horiz-padding;

   min-width: 40rem;

   font-size: 1.7rem;

}
