/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* common */
._Theme_hr_Default_{
    border-top: 2px solid #bec6d3       !important;
}

._Theme_outerBorder_Default_ {
    border-radius: 15px;
    border: 2px solid #6aaf08;
    padding: 20px;
}
._Theme_innerBorder_Default_ {
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    padding: 20px;
}
._Theme_innerItem_Default_ {
    border-radius: 4px;
    border: 2px solid #617491;
    padding: 20px;
    box-shadow: 1px 1px 5px 0px #141414;
    background-color: #fcfcfc;
}
._Theme_exampleText_Default_ {
   color: #7c7c7c;
}


/* header.js */
._Theme_nav_Default_{
    background-color: #9CB084;
    color: #000000;
}


/* login.js */

._Theme_login_Default_{
    background-color: #ffffff;
    color: #000000;
}

._Theme_register_Default_{
    background-color: #f9f9f9;
    color: #000000;
}
